<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Al</string>
	<string>Beth</string>
	<string>Billy</string>
	<string>Bob</string>
	<string>Cathy</string>
	<string>Chris</string>
	<string>Debbie</string>
	<string>Domenic</string>
	<string>Donald</string>
	<string>Edward</string>
	<string>Freddy</string>
	<string>James</string>
	<string>Joey</string>
	<string>Kate</string>
	<string>Kim</string>
	<string>Larray</string>
	<string>Liz</string>
	<string>Maggie</string>
	<string>Matt</string>
	<string>Mike</string>
	<string>Nick</string>
	<string>Peggy</string>
	<string>Peter</string>
	<string>Phil</string>
	<string>Raymond</string>
	<string>Richard</string>
	<string>Richard </string>
	<string>Ronald</string>
	<string>Steve</string>
	<string>Tim</string>
	<string>Tina</string>
	<string>Tommy</string>
	<string>Tory</string>
	<string>Valerie</string>
	<string>Victor</string>
	<string>Vincent</string>
	<string>William</string>
</array>
</plist>
